{% extends 'WebApp/Base.html' %}
{% load static %}

{% block base_head %}
<link rel="stylesheet" href="{% static 'css/Patient.css' %}">
{% endblock %}

{% block title %}
<title>Patient Registration Form..!!</title>
{% endblock %}

{% block content %}

  <h1 class="display-2">Patient Sample Registration Form..!!</h1>
  <br><br>
    <div class="container">
        <form method="POST" align="center">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Submit" class="btn btn-success">
        </form>
    </div>

{% endblock %}
